html {
    font-size: larger;
    text-align: center;
    font-family: "Lobster";
    color: #2b5c49;
    box-shadow: #1e4133;
}

body{
    margin-top: 20vh;
    background-color: #20b47c;
}

.font-logo {
    max-width: 100%;
    height: auto;
}

.logo {
    margin: 50px;
}

.copyright {
    text-align: center;
}